/* .wy-nav-content {
    max-width: none;
} */
/* .wy-nav-content {
    max-width: 1000px !important;
} */

img[alt=slam] { width: 600px; }
img[alt=hd_map] { width: 800px; }
img[alt=qs] { width: 800px; }